---
layout: splash
author_profile: false
classes:
  - landing
  - dark-theme

excerpt: "We are building a **synthetic predator** for a species that lacks a natural one, in a community that can promote **eclectic and meaningful innovation**."
header:
  overlay_image: /assets/images/banner1.png
  cta_label: "About Us"
  cta_url: "/about/"

gallery:
  - url: /assets/images/blueA4.png
    image_path: /assets/images/blueA4.png
    alt: "placeholder image 1"
    title: "Image 1 title caption"
  - url: /assets/images/blueA4.png
    image_path: /assets/images/blueA4.png
    alt: "placeholder image 2"
    title: "Image 2 title caption"
  - url: /assets/images/blueA4.png
    image_path: /assets/images/blueA4.png
    alt: "placeholder image 3"
    title: "Image 3 title caption"

feature_row:
  - image_path: /assets/images/cad2.png
    alt: "placeholder image 1"
    title: "Cutting-Edge Conservation"
    excerpt: "For all that we do, healthy oceans are our highest prioity. Starting with lionfish in the Gulf of Mexico, we are dedicated to combating invasive species in scalable, efficient systems that extend conservation capabilities far beyond their limits today. Technology gives us the opportunity to revolutionize marine conservation, and we're taking it."
  - image_path: /assets/images/cv3.png
    alt: "placeholder image 2"
    title: "High-Precision Responsibility"
    excerpt: "Leveraging advanced technologies, we deliver high precision with 0% bycatch and and zero marine waste. We're here to protect our reefs, and that means that we'll go the extra mile to recruiting the best pilots and engineers to our zero collateral damage policy. When it comes to doing the job right, we go the extra mile."
  - image_path: /assets/images/belzer2.png
    title: "The Community of Pensacola"
    excerpt: "We work hard because who we are and where we're from--not in spite of it. We promise to develop the community Pensacola that has embraced us since our arrival to recruit the best talent to underappreciated problem spaces and cities, create high-leverage jobs, all while working with our neighbors to accelerate STEM education and practicum."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<!-- 
{% include gallery caption="This is a sample gallery with **Markdown support**." %} -->